.change-password-container {
    background-color: #2a9d8f;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    .change-password-container h2 {
        text-align: center;
        font-size: 1.5em;
        color: #fff;
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        font-size: 1em;
        color: #fff;
        margin-bottom: 5px;
    }

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

    .input-container input[type="password"],
    .input-container input[type="text"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 1em;
        transition: border-color 0.3s ease;
    }

    .input-container input[type="text"] {
        border: none; /* Loại bỏ viền khi hiển thị mật khẩu */
        background-color: #f0f0f0; /* Tùy chọn, thay đổi màu nền để dễ phân biệt */
    }

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #333;
}

.btn-set-password {
    width: 100%;
    padding: 10px;
    background-color: #f77f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

    .btn-set-password:hover {
        background-color: #e76f51;
    }
