@{
    ViewBag.Title = "Unauthorized Access";
}

<h1>Unauthorized Access</h1>
<p>You do not have permission to view this page or perform this action.</p>
<a href="@Url.Action("Index", "Home")">Back to Home</a>
